h1 {
  color: white;
}

body {
  background-color: #373737;
}

footer {
  padding-left: 60px;
}

.container {
  background-color: #f4f4f4;
  min-height: 200px;
}

#banner {
    background: url('/assets/weather.jpg') no-repeat center center;
    background-size: cover;
    border: 1px;
    border-style: outset;
    border-color: darkgrey;
    padding: 0px 20px;
    color: white;
}

path {
  fill: none;
  stroke-linejoin: round;
}

.sphere,
.graticule {
  stroke: blue;
}

