    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" ng-click="switchView('forecast')" href="#/generate">Forecast</a></li>
      <li class='active'><a data-toggle="tab" ng-click="switchView('history')" href="#/history">History</a></li>
      <li><a data-toggle="tab" ng-click="switchView('saved')"
      href="#/viewSaved">Saved Views</a></li>
    </ul>

    <form name="weatherForm" ng-submit='fetch()' ng-hide='view==="saved"' novalidate>
      <label>Zip Code:</label>
      <input name='zip' type="text" pattern="[0-9]{5}" ng-model='zipcode' required>
      <label>Starting at:</label>
      <input name='from' type='year' ng-model='startTime' pattern="\d{2}-\d{2}-\d{4}" placeholder="mm-dd-yyyy" ng-required='view==="history"'>
      <label>View:</label>
      <button ng-show='weatherForm.$valid' ng-click='setData("temp")'>Temperature</button>
      <button ng-show='weatherForm.$valid' ng-click='setData("wind")'>Wind Speed</button>
    </form>
    <div id="dataDisplay" class="row"></div>
    <d3-forecast></d3-forecast>
    <form name="save" ng-show="active" ng-submit='saveVisual()' novalidate>
      <label>Name:</label>
      <input type="text" name="name" ng-model="name">
      <button>Save View</button>
    </form>